.quizlib-question-answers ul {
    padding-left: 1em;
}

.question {
    margin: 1em;
}

form {
    padding: 0 1em;
}

.newQuestion {
    width: 100%;
}

.bool {
    padding: 0;
    margin: 0;
}

.answerText {
    width: 100%;
}

.squaredFaButton {
    padding: 0;
    background-color: white;
}