<!--Header-->
<a href="index.html"><img src="../image/geographie-symbol.gif" id="header-image"></a>
<div class="menu-button" onclick="ToggleClick(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>
<div id="menu" class="">
    <ul class="topnav" id="myTopnav">

        <li id="index"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Startseite</a></li>
        <li onclick="MenuClick(this)" class="subnavigation" id="wissen"><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Wissen</a>
            <ul>
                <h3>Wissens Kategorien</h3>
                <a href="wissen_deutschland.html">
                    <li>Deutschland - Topografie</li>
                </a>
                <a href="wissen_europa.html">
                    <li>Hauptstädte Europa</li>
                </a>
                <a href="wissen_berlin.html">
                    <li>Berliner Stadtentwicklung</li>
                </a>
                <a href="#">
                    <li class="all">Alle Kategorien anzeigen</li>
                </a>
            </ul>
        </li>
        <li onclick="MenuClick(this)" class="subnavigation" id="tests"><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Tests</a>
            <ul>
                <h3>Test Kategorien</h3>
                <a href="test_deutschland.html">
                    <li>Deutschland - Topografie</li>
                </a>
                <a href="test_europa.html">
                    <li>Hauptstädte Europa</li>
                </a>
                <a href="test_berlin.html">
                    <li>Berliner Stadtentwicklung</li>
                </a>
                <a href="#">
                    <li class="all">Alle Kategorien anzeigen</li>
                </a>
            </ul>
        </li>
        <li id="impressum"><a href="impressum.html"><i class="fa fa-align-justify" aria-hidden="true"></i> Impressum</a></li>

    </ul>

</div>