<div class="borderd borderd-right">

    <div class="card">
        Fragen Formular
    </div>
    <p>In diesem Formular kann eine weitere Frage mit beliebig vielen Antworten hinzugefügt werden. Richtige Antworten werden mit einem Haken makiert.
    </p>
    <form>
        <input type="text" ng-model="formData.newQuestion.text" name="" placeholder="Frage" class="newQuestion">
        <div data-ng-repeat="answer in formData.newAnswers">
            <div class="w3-row">
                <div class="w3-col s1 w3-center"> <input type="checkbox" ng-model="answer.bool" class="bool"></div>
                <div class="w3-col s10"><input type="text" ng-model="answer.text" class="answerText" placeholder="Antwort"></div>
                <div class="w3-col s1 w3-center"><button class="add squaredFaButton" ng-show="$last" ng-click="addAnswer()"><i class="fa fa-plus"></i></button></div>
            </div>
        </div>
    </form>
    <div ng-click="createQuestion()" class="card button-bottom">
        Frage abschicken
    </div>

</div>